@font-face {
  font-family: "lato";
  src: url("./assets/fonts/lato-black.woff2") format("woff2"),
    url("./assets/fonts/lato-black.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "lato";
  src: url("./assets/fonts/lato-bold.woff2") format("woff2"),
    url("./assets/fonts/lato-bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "lato";
  src: url("./assets/fonts/lato-regular.woff2") format("woff2"),
    url("./assets/fonts/lato-regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "lato";
  src: url("./assets/fonts/lato-light.woff2") format("woff2"),
    url("./assets/fonts/lato-light.woff") format("woff");
  font-weight: 300;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "lato", "Times New Roman";
}

.header {
  width: 100%;
  height: 89px;
  margin: 0 auto;
  background-color: #2d303a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 34px 0 35px 40px;
}

.logo .logo-title a {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.logo .logo-title span {
  color: #f06c64;
}

.navigation {
  padding: 45px 40px 35px 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.menu .menu-link {
  width: 371px;
  height: 9px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 6.32px;
  text-transform: uppercase;
  margin-right: 26px;
  text-decoration: none;
  position: relative;
}

.menu .menu-item {
  list-style-type: none;
}

.menu-link::after {
  content: "";
  background-color: #494e62;
  width: 3px;
  height: 3px;
  position: absolute;
  right: -15px;
  top: 8px;
  transform: translateY(-100%);
  border-radius: 50%;
}

.menu .menu-link-active {
  color: #f06c64;
}

.menu-item:last-child .menu-link::after {
  display: none;
}

.slider {
  width: 100%;
  border-top: 6px solid #323746;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 600px;
  background-color: #f06c64;
  padding: 59px 40px 88px 40px;
}

.slider-arrow:focus {
  outline: none;
}

.slider-arrow {
  display: block;
  width: 16px;
  height: 27px;
  cursor: pointer;
  border: none;
  background-color: #f06c64;
}

.services {
  width: 100%;
  min-height: 496px;
  background-color: #f2f2f2;
  padding: 67px 40px 66px 41px;
}

.services__wrap {
  padding-top: 45px;
  padding-bottom: 40px;
}

.services-title {
  color: #666d89;
  font-size: 30px;
  font-weight: 400;
  line-height: 17.86px;
}

.services-descr {
  text-align: justify;
  margin-top: 33px;
  color: #767e9e;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.services-block {
  margin-top: 34px;
}

.block {
  list-style: none;
  padding: 0;
  margin-right: -20px;
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  padding-left: 80px;
  position: relative;
  flex-basis: 300px;
  box-sizing: border-box;
  margin-bottom: 39px;
  margin-right: 23px;
}

.service-item::before {
  content: "";
  display: block;
  width: 59px;
  height: 59px;
  position: absolute;
  left: 0;
  top: 12px;
  border-radius: 50%;
  border: 2px solid #666d89;
  box-sizing: border-box;
}

.service-item:nth-child(1)::before {
  background: url("./assets/img/pen.svg") center no-repeat;
}

.service-item:nth-child(2)::before {
  background: url("./assets/img/bulb.svg") center no-repeat;
}

.service-item:nth-child(3)::before {
  background: url("./assets/img/heart.svg") center no-repeat;
}

.service-item:nth-child(4)::before {
  background: url("./assets/img/phone.svg") center no-repeat;
}

.service-item:nth-child(5)::before {
  background: url("./assets/img/bubble.svg") center no-repeat;
}

.service-item:nth-child(6)::before {
  background: url("./assets/img/star.svg") center no-repeat;
}

.service-title {
  color: #666d89;
  font-size: 18px;
  font-weight: 900;
  line-height: 17.86px;
}

.service-descr {
  margin-top: 15px;
  text-align: justify;
  color: #767e9e;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.56px;
}
